<head><link href=".././css/styles.css?49a85ad49723ea7f9956" rel="stylesheet"></head><footer class="footer fixed-bottom">
  <div class="container py-3">
    <ul class="nav">
      <li>
        <a href="#" class="active">
          <i class="icon icon-nav icon-home"></i>
          <span>Home</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon icon-nav icon-location"></i>
          <span>내주변</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon icon-nav icon-wish"></i>
          <span>관심숙소</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon icon-nav icon-mypage"></i>
          <span>마이페이지</span>
        </a>
      </li>
      <li>
        <a href="#">
          <i class="icon icon-nav icon-kakao"></i>
          <span>카카오상담</span>
        </a>
      </li>
    </ul>
  </div>
</footer><script src=".././js/index.bundle.js?49a85ad49723ea7f9956"></script>