<head><link href=".././css/styles.css?49a85ad49723ea7f9956" rel="stylesheet"></head><header class="header header-title fixed-top border-bottom">
  <div class="container px-0">
    <nav class="navbar">
      <div>
        <a href="/index.html" class="btn">
          <i class="icon icon-back icon-md"></i>
          <span class="sr-only">뒤로가기</span>
        </a>
        <h1>마이페이지</h1>
      </div>
      <div>
        <a href="#;" class="nav-link pr-1">설정</a>
      </div>
    </nav>
  </div>
</header><script src=".././js/index.bundle.js?49a85ad49723ea7f9956"></script>