<head><link href=".././css/styles.css?49a85ad49723ea7f9956" rel="stylesheet"></head><header class="header">
  <div class="container">
    <nav class="navbar px-0">
      <span class="navbar-brand">
        <a href="#;" class="logo">
          <span class="sr-only">HOTELNJOY</span>
        </a>
      </span>
      <!-- <ul class="navbar-nav ml-auto flex-row">
        <li class="nav-item mx-2">
          
        </li>
        <li class="nav-item mx-2">
         
        </li>
      </ul> -->
      <form class="gnb-search ml-2">
        <input class="form-control mr-sm-2" type="search" placeholder="숙소를 검색해 보세요." readonly aria-label="검색" onclick="location.href='/product/search_home.html'">
        <button class="btn btn-search" type="button">
          <span class="sr-only">검색</span>
        </button>
      </form>
    </nav>
  </div>
</header><script src=".././js/index.bundle.js?49a85ad49723ea7f9956"></script>